@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {

}
@media (max-width: 992px) {
    .fastfoto {
        width: 278px;
    }
    .header-general__altyn {
      display: none;

    }
    .hero {
        flex-direction: column;
        justify-content: center;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0;
    }

    .obekt-general {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 50px 0;
    }
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
@media (max-width: 414px) {

}
@media (max-width: 375px) {

}
@media (max-width: 320px) {

}